Flask>=2.1.0
werkzeug>=2.0.3
Pillow==9.0.1
numpy==1.23.3
tensorflow>=2.9.0
faiss-cpu
groq
langchain-groq
PyPDF2
langchain
streamlit
langchain_community
python-dotenv
pypdf
google-cloud-aiplatform>=1.38
